*~
cache/
backups/
eln-cache/
auto-save-list/
auto-saves/
elpa/
custom.el

history
session.*
\#*\#
.#*
recentf.*

eshell/
projects.eld
tree-sitter/*.so
tramp
auto-saves/
tree-sitter/*.dylib
.DS_Store
transient/
places.eld
bookmarks
